In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Sale.Adv.csv')

In [3]:
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
x = df.drop('Sales',axis=1)

In [6]:
y =df['Sales']

In [7]:
x_train, x_test,y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [8]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train,y_train)
y_pred=lr.predict(x_test)

In [9]:
from sklearn.metrics import r2_score, mean_absolute_error
mean_absolute_error(y_test,y_pred)

1.274826210954934

In [10]:
r2_score(y_test,y_pred)

0.9059011844150826

In [11]:
def predict_sales(TV,RADIO,NEWSPAPER):
    features = np.array([[TV,RADIO,NEWSPAPER]])
    results = lr.predict(features).reshape(1,-1)
    return results[0]

In [12]:
TV = 233
RADIO =40
NEWSPAPER =65
sales = predict_sales(TV,RADIO,NEWSPAPER)

C:\Users\prash\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [13]:
sales

array([21.73448305])

In [14]:
import pickle
pickle.dump(lr,open('saling_items.pkl','wb'))